**/log

*.jpg
*.png
*.txt

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
*.o
cvpods.egg-info/
build/
dist/
wheels/

tools/pods_test
tools/pods_train

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/models


# exclude
!requirements*.txt

# tools
tools/visualize_vis_json_results_for_debug.py
tools/visualize_vis_json_results_only_seg.py
tools/useless_tools
